# Load all the files

In [1]:
import numpy as np
import pandas as pd

chald = pd.read_csv('challenge_data.csv')
dftrain = pd.read_csv('train.csv')
dftest = pd.read_csv('test.csv')
samp_sub = pd.read_csv('sample_submission_J0OjXLi_DDt3uQN.csv')

In [2]:
print chald.shape

# print np.isnan(chald.iloc[:,0].unique())

(5606, 9)

In [3]:
import matplotlib.pyplot as plt
ts = chald.challenge_ID.apply(lambda y: int(y[2:]))
print chald.head(5)
lst=[]
for i in range(8):
    print chald.columns[i+1]
    print chald.iloc[:,i+1].unique().shape
    lst.append(chald.iloc[:,i+1].unique().shape[0])
    print chald.iloc[:,i+1].unique()

  challenge_ID  programming_language challenge_series_ID  total_submissions  \
0      CI23478                     2              SI2445               37.0
1      CI23479                     2              SI2435               48.0
2      CI23480                     1              SI2435               15.0
3      CI23481                     1              SI2710              236.0
4      CI23482                     2              SI2440              137.0

  publish_date author_ID author_gender author_org_ID  category_id
0   06-05-2006  AI563576             M     AOI100001          NaN
1   17-10-2002  AI563577             M     AOI100002         32.0
2   16-10-2002  AI563578             M     AOI100003          NaN
3   19-09-2003  AI563579             M     AOI100004         70.0
4   21-03-2002  AI563580             M     AOI100005          NaN
programming_language
(3,)
[2 1 3]
challenge_series_ID
(436,)
['SI2445' 'SI2435' 'SI2710' 'SI2440' 'SI2439' 'SI2438' 'SI2442' 'SI2437'
 'SI2441' 'SI2436' 'SI2443' 'SI2446' 'SI2447' 'SI2525' 'SI2478' 'SI2458'
 'SI2524' 'SI2464' 'SI2448' 'SI2479' 'SI2459' 'SI2456' 'SI2455' 'SI2471'
 'SI2451' 'SI2468' 'SI2467' 'SI2472' 'SI2457' 'SI2463' 'SI2450' 'SI2452'
 'SI2475' 'SI2462' 'SI2473' 'SI2523' 'SI2469' 'SI2449' 'SI2466' 'SI2477'
 'SI2470' 'SI2481' 'SI2453' 'SI2460' 'SI2461' 'SI2522' 'SI2521' 'SI2474'
 'SI2465' 'SI2476' 'SI2454' 'SI2480' 'SI2482' 'SI2483' 'SI2484' 'SI2490'
 'SI2489' 'SI2492' 'SI2491' 'SI2487' 'SI2493' 'SI2488' 'SI2486' 'SI2485'
 'SI2494' 'SI2495' 'SI2496' 'SI2497' 'SI2498' 'SI2515' 'SI2499' 'SI2517'
 'SI2514' 'SI2519' 'SI2516' 'SI2500' 'SI2501' 'SI2502' 'SI2503' 'SI2506'
 'SI2504' 'SI2505' 'SI2508' 'SI2510' 'SI2509' 'SI2507' 'SI2511' 'SI2512'
 'SI2513' 'SI2518' 'SI2520' 'SI2526' 'SI2527' 'SI2528' 'SI2529' 'SI2530'
 'SI2531' 'SI2532' 'SI2533' 'SI2444' 'SI2534' 'SI2535' 'SI2754' 'SI2536'
 'SI2537' 'SI2538' 'SI2539' 'SI2541' 'SI2542' 'SI2543' 'SI2544' 'SI2545'
 'SI2540' 'SI2546' 'SI2547' 'SI2549' 'SI2550' 'SI2552' 'SI2553' 'SI2554'
 'SI2555' 'SI2551' 'SI2709' 'SI2556' 'SI2557' 'SI2558' 'SI2559' 'SI2562'
 'SI2561' 'SI2563' 'SI2564' 'SI2560' 'SI2565' 'SI2566' 'SI2567' 'SI2568'
 'SI2569' 'SI2570' 'SI2571' 'SI2573' 'SI2572' 'SI2574' 'SI2575' 'SI2577'
 'SI2578' 'SI2579' 'SI2548' 'SI2580' 'SI2581' 'SI2582' 'SI2585' 'SI2583'
 'SI2586' 'SI2584' 'SI2589' 'SI2587' 'SI2588' 'SI2590' 'SI2591' 'SI2592'
 'SI2593' 'SI2594' 'SI2576' 'SI2595' 'SI2596' 'SI2597' 'SI2598' 'SI2599'
 'SI2600' 'SI2601' 'SI2603' 'SI2604' 'SI2602' 'SI2605' 'SI2606' 'SI2607'
 'SI2609' 'SI2610' 'SI2611' 'SI2612' 'SI2613' 'SI2614' 'SI2616' 'SI2615'
 'SI2617' 'SI2618' 'SI2619' 'SI2620' 'SI2621' 'SI2622' 'SI2623' 'SI2624'
 'SI2625' 'SI2626' 'SI2627' 'SI2628' 'SI2608' 'SI2629' 'SI2631' 'SI2634'
 'SI2635' 'SI2641' 'SI2642' 'SI2636' 'SI2640' 'SI2632' 'SI2638' 'SI2639'
 'SI2643' 'SI2630' 'SI2646' 'SI2648' 'SI2650' 'SI2652' 'SI2651' 'SI2647'
 'SI2654' 'SI2655' 'SI2658' 'SI2659' 'SI2660' 'SI2649' 'SI2637' 'SI2661'
 'SI2662' 'SI2656' 'SI2644' 'SI2653' 'SI2663' 'SI2666' 'SI2657' 'SI2672'
 'SI2675' 'SI2676' 'SI2678' 'SI2679' 'SI2677' 'SI2673' 'SI2674' 'SI2667'
 'SI2684' 'SI2683' 'SI2681' 'SI2682' 'SI2685' 'SI2687' 'SI2686' 'SI2671'
 'SI2688' 'SI2670' 'SI2680' 'SI2669' 'SI2689' 'SI2668' 'SI2698' 'SI2705'
 'SI2704' 'SI2707' 'SI2690' 'SI2712' 'SI2713' 'SI2714' 'SI2711' 'SI2691'
 'SI2716' 'SI2715' 'SI2717' 'SI2718' 'SI2721' 'SI2722' 'SI2723' 'SI2720'
 nan 'SI2719' 'SI2724' 'SI2727' 'SI2728' 'SI2726' 'SI2738' 'SI2735'
 'SI2733' 'SI2731' 'SI2730' 'SI2729' 'SI2736' 'SI2737' 'SI2734' 'SI2732'
 'SI2694' 'SI2695' 'SI2739' 'SI2741' 'SI2693' 'SI2692' 'SI2699' 'SI2743'
 'SI2744' 'SI2708' 'SI2745' 'SI2742' 'SI2746' 'SI2706' 'SI2747' 'SI2750'
 'SI2696' 'SI2740' 'SI2725' 'SI2751' 'SI2749' 'SI2748' 'SI2753' 'SI2752'
 'SI2758' 'SI2756' 'SI2757' 'SI2760' 'SI2755' 'SI2759' 'SI2761' 'SI2765'
 'SI2764' 'SI2766' 'SI2767' 'SI2763' 'SI2762' 'SI2784' 'SI2769' 'SI2770'
 'SI2775' 'SI2777' 'SI2781' 'SI2768' 'SI2783' 'SI2786' 'SI2787' 'SI2773'
 'SI2788' 'SI2780' 'SI2789' 'SI2790' 'SI2793' 'SI2798' 'SI2794' 'SI2802'
 'SI2804' 'SI2805' 'SI2803' 'SI2797' 'SI2811' 'SI2810' 'SI2812' 'SI2814'
 'SI2809' 'SI2816' 'SI2817' 'SI2818' 'SI2819' 'SI2820' 'SI2823' 'SI2829'
 'SI2830' 'SI2831' 'SI2832' 'SI2833' 'SI2792' 'SI2822' 'SI2825' 'SI2827'
 'SI2840' 'SI2841' 'SI2844' 'SI2846' 'SI2848' 'SI2850' 'SI2849' 'SI2851'
 'SI2853' 'SI2852' 'SI2855' 'SI2842' 'SI2858' 'SI2857' 'SI2861' 'SI2862'
 'SI2869' 'SI2633' 'SI2645' 'SI2697' 'SI2700' 'SI2701' 'SI2703' 'SI2702'
 'SI2772' 'SI2776' 'SI2774' 'SI2665' 'SI2664' 'SI2778' 'SI2782' 'SI2771'
 'SI2779' 'SI2785' 'SI2791' 'SI2799' 'SI2800' 'SI2796' 'SI2795' 'SI2806'
 'SI2808' 'SI2801' 'SI2815' 'SI2813' 'SI2821' 'SI2824' 'SI2828' 'SI2834'
 'SI2835' 'SI2836' 'SI2838' 'SI2826' 'SI2843' 'SI2839' 'SI2845' 'SI2847'
 'SI2854' 'SI2837' 'SI2856' 'SI2807' 'SI2866' 'SI2859' 'SI2860' 'SI2867'
 'SI2863' 'SI2868' 'SI2864' 'SI2865']
total_submissions
(1068,)
[  37.   48.   15. ...,  748.  635.   nan]
publish_date
(1145,)
['06-05-2006' '17-10-2002' '16-10-2002' ..., '16-06-2010' '17-06-2010'
 '25-06-2010']
author_ID
(3485,)
['AI563576' 'AI563577' 'AI563578' ..., 'AI567058' 'AI567059' 'AI567060']
author_gender
(3,)
['M' nan 'F']
author_org_ID
(1718,)
['AOI100001' 'AOI100002' 'AOI100003' ..., 'AOI101716' 'AOI101717'
 'AOI101718']
category_id
(195,)
[  nan   32.   70.   23.  141.   69.   48.  180.   97.   27.   36.   47.
   39.  137.   49.   52.   53.   79.   75.   71.   92.   58.   85.   41.
   50.  135.   81.  121.   29.   59.   38.   35.   51.   40.   77.   30.
   45.   31.  122.   87.   74.  113.   60.   46.  132.   64.  118.   67.
  120.   82.  115.   62.  110.   33.  114.   54.   66.   61.   37.   86.
   72.   78.  123.  112.  109.   24.  116.   28.  125.  111.  117.  124.
   80.  100.  140.  131.   34.  128.  134.   63.   83.  158.   56.   76.
  162.   55.   57.   98.   73.   84.   68.  136.  226.  206.  165.   42.
   26.  150.  127.  129.  130.  119.  101.  190.   43.   99.  209.  133.
  106.  160.   94.   89.  198.  105.  102.  108.  219.  218.  188.  144.
  107.  147.  149.  146.   93.   65.  145.  148.  184.   91.   22.  171.
  176.  172.  170.  181.  175.  189.  142.  173.  174.  156.  151.  220.
  216.  214.  163.  215.  187.  202.  166.  161.   90.  213.  212.  211.
  224.  167.  223.  193.  204.  186.  196.  205.  233.  208.  210.  207.
  197.  192.  194.  199.  200.   96.  225.  177.  182.  274.  250.  304.
  203.   44.   88.  259.  284.  221.   25.  230.  240.  238.  239.  247.
  246.  265.  164.]

### Separate the INPUT challange_ID s from the OUTPUT challange_ID s

##### 1, For the TRAIN SET

In [4]:
df = pd.DataFrame(dftrain.groupby(['user_id'])['challenge'].apply(list))
%time Chin = pd.DataFrame(df.apply(lambda y: y.iloc[0][0:10],axis=1))
%time Chout = pd.DataFrame(df.apply(lambda y: y.iloc[0][10:],axis=1))
print df.iloc[0].iloc[0]
#df = pd.DataFrame(dftrain.groupby(['user_id'])['challenge'])
Chin.columns = ['chall_ids']
Chout.columns = ['chall_ids']

CPU times: user 1.76 s, sys: 24.4 ms, total: 1.79 s
Wall time: 1.78 s
CPU times: user 1.87 s, sys: 196 ms, total: 2.07 s
Wall time: 1.92 s
['CI23714', 'CI23855', 'CI24917', 'CI23663', 'CI23933', 'CI25135', 'CI23975', 'CI25126', 'CI24915', 'CI24957', 'CI24958', 'CI23667', 'CI23691']

##### 1, For the TEST SET

In [6]:
dftest.head()
Chinvalid = pd.DataFrame(dftest.groupby(['user_id'])['challenge'].apply(list))
Chinvalid.head()
Chinvalid.columns = ['chall_ids']
Chinvalid.head()

                                                 chall_ids
user_id
4577     [CI23855, CI23933, CI24917, CI24915, CI23714, ...
4578     [CI23663, CI23855, CI24917, CI23933, CI23975, ...
4579     [CI26939, CI26940, CI26941, CI26942, CI26943, ...
4583     [CI23663, CI23855, CI23975, CI23714, CI23848, ...
4584     [CI23855, CI23975, CI25135, CI23848, CI23714, ...

#### Clean the challange set (with input features) from NaNs and convert values into integers

In [7]:
def clean_dataset(chald):
    chald2 = chald.copy()
    chald2 = chald2.set_index('challenge_ID')
    print chald2.head()

    # here I clean the NaN s from the challenge_series_ID columns and then convert them into INTEGERS
    chald2.challenge_series_ID[chald2.challenge_series_ID.isna()] = ["SI0"]
    chald2.challenge_series_ID = chald2.challenge_series_ID.apply(lambda y: int(y[2:]))
    # sum(chald2.challenge_series_ID[chald2.challenge_series_ID.isna()])

    # here I clean the NaN s from the author_ID columns and then convert them into INTEGERS
    chald2.author_ID[chald2.author_ID.isna()] = ['AI0']
    chald2.author_ID = chald2.author_ID.apply(lambda y: int(y[2:]))
    chald2.head(10)

    chald2.author_org_ID[chald2.author_org_ID.isna()] = ['AOI0']
    chald2.author_org_ID = chald2.author_org_ID.apply(lambda y: int(y[3:]))

    chald2.category_id[chald2.category_id.isna()] = [0]
    chald2.category_id = chald2.category_id.astype(int)

    chald2.total_submissions[chald2.total_submissions.isna()] = [0]
    chald2.total_submissions = chald2.total_submissions.astype(int)

    nan_for_gender = chald2.author_gender.isna()
    chald2.author_gender = chald2.author_gender.apply(lambda y: int(y=='M'))
    chald2.author_gender[nan_for_gender] = -1
    chald2.author_gender = chald2.author_gender+1
    
    return chald2
chald2 = clean_dataset(chald)
chald2.head(10)

              programming_language challenge_series_ID  total_submissions  \
challenge_ID
CI23478                          2              SI2445               37.0
CI23479                          2              SI2435               48.0
CI23480                          1              SI2435               15.0
CI23481                          1              SI2710              236.0
CI23482                          2              SI2440              137.0

             publish_date author_ID author_gender author_org_ID  category_id
challenge_ID
CI23478        06-05-2006  AI563576             M     AOI100001          NaN
CI23479        17-10-2002  AI563577             M     AOI100002         32.0
CI23480        16-10-2002  AI563578             M     AOI100003          NaN
CI23481        19-09-2003  AI563579             M     AOI100004         70.0
CI23482        21-03-2002  AI563580             M     AOI100005          NaN

/Users/zsombor/anaconda/envs/py27/lib/python2.7/site-packages/ipykernel/__main__.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/zsombor/anaconda/envs/py27/lib/python2.7/site-packages/ipykernel/__main__.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/zsombor/anaconda/envs/py27/lib/python2.7/site-packages/ipykernel/__main__.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/zsombor/anaconda/envs/py27/lib/python2.7/site-packages/ipykernel/__main__.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/zsombor/anaconda/envs/py27/lib/python2.7/site-packages/ipykernel/__main__.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/zsombor/anaconda/envs/py27/lib/python2.7/site-packages/ipykernel/__main__.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,programming_language,challenge_series_ID,total_submissions,publish_date,author_ID,author_gender,author_org_ID,category_id
challenge_ID,,,,,,,,
CI23478,2,2445,37,06-05-2006,563576,2,100001,0
CI23479,2,2435,48,17-10-2002,563577,2,100002,32
CI23480,1,2435,15,16-10-2002,563578,2,100003,0
CI23481,1,2710,236,19-09-2003,563579,2,100004,70
CI23482,2,2440,137,21-03-2002,563580,2,100005,0
CI23483,2,2445,1434,06-05-2006,0,0,0,70
CI23484,1,2440,509,22-03-2006,563582,1,100007,32
CI23485,1,2435,287,17-10-2002,563583,1,100008,23
CI23486,2,2440,19,20-03-2002,563584,2,100009,0
CI23487,1,2435,28,14-10-2002,563585,2,100010,141

#### Obtain one of the features that I want to use (mean total submission)

In [ ]:
print Chin.size
## creat the input array with the first feature, mean total submission for each user
%time inputs = Chin.apply([lambda y: chald2.total_submissions.loc[y[0:]].mean()])
inputs.columns = inputs.columns.droplevel()
inputs.columns = ['mean_tot_submission']
inputs.head()


## creat the output array with the first feature, mean total submission for each user
%time outputs = Chout.apply([lambda y: chald2.total_submissions.loc[y[0:]].mean()])
outputs.columns = outputs.columns.droplevel()
outputs.columns = ['mean_tot_submission']
outputs.head()

In [477]:
## creat the input array with the first feature, mean total submission for each user
%time tmp = Chin.apply([lambda y: chald2.total_submissions.loc[y[0:]].max()])
tmp.columns = tmp.columns.droplevel()
tmp.columns = ['mean_tot_submission']
inputs['max_tot_submission'] = tmp['mean_tot_submission']
print inputs.head()

## creat the output array with the first feature, mean total submission for each user
%time tmp = Chout.apply([lambda y: chald2.total_submissions.loc[y[0:]].max()])
tmp.columns = tmp.columns.droplevel()
tmp.columns = ['mean_tot_submission']
outputs['max_tot_submission'] = tmp['mean_tot_submission']
outputs.head()

CPU times: user 39.4 s, sys: 286 ms, total: 39.7 s
Wall time: 39.6 s
         mean_tot_submission  max_tot_submission
user_id
4576                 13165.7             43409.0
4580                  9019.7             20993.0
4581                  3547.0              6968.0
4582                 13315.8             43409.0
4585                 13538.4             43409.0
CPU times: user 40.2 s, sys: 244 ms, total: 40.4 s
Wall time: 40.3 s

<bound method DataFrame.head of          mean_tot_submission  max_tot_submission
user_id
4576             5215.000000              6842.0
4580             6129.000000              7389.0
4581              831.000000              1096.0
4582             4158.000000              5446.0
4585             4639.666667              6814.0
4587            11227.000000             20993.0
4590             4611.333333              7731.0
4591             9900.666667             20674.0
4592             4491.333333              6842.0
4593              874.000000              1096.0
4596             2666.666667              6012.0
4602             3342.000000              6012.0
4604            10820.000000             15086.0
4606            11113.000000             20993.0
4609             4633.666667              9204.0
4611             1474.666667              2413.0
4612            16994.333333             43409.0
4615              580.666667               637.0
4616             7629.333333              9204.0
4617             5339.000000              9204.0
4618            16740.666667             43409.0
4619             1354.666667              2033.0
4622             3449.000000              9204.0
4624             1213.000000              2773.0
4625             7517.666667              8897.0
4626             5252.000000              9020.0
4629            10787.333333             20993.0
4630             1495.333333              2613.0
4631             2542.333333              3956.0
4632            19353.000000             43409.0
...                      ...                 ...
113793           1713.000000              2309.0
113795            530.333333              1149.0
113797            397.666667               634.0
113798            484.666667               885.0
113799           1773.333333              2654.0
113800            377.666667               582.0
113803            625.333333              1280.0
113805            443.666667               828.0
113807            464.000000               992.0
113808            599.333333               836.0
113810            420.000000               591.0
113812            160.333333               326.0
113813            205.000000               289.0
113815            603.666667               818.0
113816            160.333333               260.0
113817            240.333333               333.0
113818            190.000000               270.0
113819            545.000000              1201.0
113822           4099.666667              9204.0
113823           2772.333333              4787.0
113824           1400.000000              2056.0
113825            248.000000               351.0
113827           3162.666667              4233.0
113828           1824.666667              4787.0
113832            168.666667               211.0
113833            169.666667               203.0
113835           1405.666667              2238.0
113836           1303.000000              2238.0
113837            583.000000              1060.0
113839            290.666667               575.0

[69532 rows x 2 columns]>

In [ ]:
# print outputs.mean_tot_submission
print inputs.shape
plt.plot(inputs.mean_tot_submission/10, outputs.mean_tot_submission/3,'.')
plt.show()

In [ ]:
plt.plot(inputs.max_tot_submission/10, outputs.mean_tot_submission/3,'.')
plt.show()

# Create the output labels from challenge_ID s (train set)

In [8]:
chald2['index'] = range(chald2.shape[0])
a = Chout
s = a.apply(lambda x: pd.Series(x[0]),axis=1).stack().reset_index(level=1, drop=True)
output_index = chald2['index'].loc[s]
output_index.head()

challenge_ID
CI24958    1480
CI23667     189
CI23691     213
CI24915    1437
CI25727    2249
Name: index, dtype: int64

In [9]:
# from sklearn import preprocessing
# lb = preprocessing.LabelBinarizer()
# lb.fit(chald2['index'])
# lb.classes_
# #output_lab = lb.transform(output_index)

array([   0,    1,    2, ..., 5603, 5604, 5605])

### Obtain the rest of the features

#### For TRAINING SET

In [10]:
def feature_extraction(chald2_col, Chin, Chinvalid):
    #print chald2_col
    ## creat the input array with the counts of languages
    tmp1 = Chin.apply([lambda y: chald2_col.loc[y]])
    tmp1.columns = tmp1.columns.droplevel()
    tmp1.head()
    lan_count_in = tmp1.apply(pd.Series.value_counts,axis=1)
    lan_count_in[lan_count_in.isna()]=0

    lan_count_in_t=lan_count_in.copy()
    lan_count_in_t = pd.concat([lan_count_in_t]*3)
    lan_count_in_t= lan_count_in_t.sort_index()

    tmp3 = Chinvalid.apply([lambda y: chald2_col.loc[y]])
    tmp3.columns = tmp3.columns.droplevel()
    # print tmp3.head()
    lan_count_in_val = tmp3.apply(pd.Series.value_counts,axis=1)
    lan_count_in_val[lan_count_in_val.isna()]=0
    print lan_count_in_val.shape
    lan_count_in_val.head()
#     ## creat the input array with the counts of languages
#     %time tmp2 = Chout.apply([lambda y: chald2.programming_language.loc[y]])
#     tmp2.columns = tmp2.columns.droplevel()
#     tmp2.head()
#     %time lan_count_out = tmp2.apply(pd.Series.value_counts,axis=1)
#     lan_count_out[lan_count_out.isna()]=0

    tmo = lan_count_in_val
    print lan_count_in_val.shape
    print tmo.shape
    tmo2 = tmo.append(lan_count_in_t.iloc[1,:])
    print tmo2.shape
    lan_count_in_val = tmo2[lan_count_in.columns.values]
    print lan_count_in_val.shape
    lan_count_in_val = lan_count_in_val[:-1]
    print lan_count_in_val.shape
    return lan_count_in_t, lan_count_in_val

# tmp1, tmp2 = feature_extraction(chald2_col, Chin)
chald2_col = chald2.programming_language
lan_in_f, lan_val_f = feature_extraction(chald2.programming_language, Chin, Chinvalid)

(39732, 3)
(39732, 3)
(39732, 3)
(39733, 3)
(39733, 3)
(39732, 3)

In [11]:
chald2.head()
chald2_col = chald2.challenge_series_ID
chal_in_f, chal_val_f = feature_extraction(chald2_col, Chin, Chinvalid)

(39732, 392)
(39732, 392)
(39732, 392)
(39733, 426)
(39733, 419)
(39732, 419)

In [12]:
chald2.head()
chald2_col = chald2.category_id
cat_in_f, cat_val_f = feature_extraction(chald2_col, Chin, Chinvalid)

(39732, 177)
(39732, 177)
(39732, 177)
(39733, 187)
(39733, 184)
(39732, 184)

In [13]:
chald2.head()
chald2_col = chald2.author_org_ID
aoid_in_f, aoid_val_f = feature_extraction(chald2_col, Chin, Chinvalid)

(39732, 1412)
(39732, 1412)
(39732, 1412)
(39733, 1620)
(39733, 1537)
(39732, 1537)

In [14]:
chald2.head()
chald2_col = chald2.author_gender
gen_in_f, gen_val_f = feature_extraction(chald2_col, Chin, Chinvalid)

(39732, 3)
(39732, 3)
(39732, 3)
(39733, 3)
(39733, 3)
(39732, 3)

### Put multiple (two) different INPUT feature sets together

#### For the TRAINING SET

In [15]:
# chal_id_in.head()
df_in = {'ABC' : lan_in_f, 'XYZ' : chal_in_f, 'abc' : cat_in_f, 'abc2': gen_in_f, 'abc3': aoid_in_f}
df_in = pd.concat(df_in.values(),axis=1,keys=df_in.keys())
print df_in.shape
df_in.head()

(208596, 2146)

             XYZ                                                        \
        0.0      2435.0   2436.0   2439.0   2440.0   2441.0   2442.0
user_id
4576         0.0      0.0      0.0      0.0      0.0      0.0      0.0
4576         0.0      0.0      0.0      0.0      0.0      0.0      0.0
4576         0.0      0.0      0.0      0.0      0.0      0.0      0.0
4580         0.0      0.0      0.0      0.0      0.0      0.0      0.0
4580         0.0      0.0      0.0      0.0      0.0      0.0      0.0

                                     ...        abc3                    \
        2443.0   2444.0   2445.0     ...    101702.0 101703.0 101704.0
user_id                              ...
4576         0.0      0.0      0.0   ...         0.0      0.0      0.0
4576         0.0      0.0      0.0   ...         0.0      0.0      0.0
4576         0.0      0.0      0.0   ...         0.0      0.0      0.0
4580         0.0      0.0      0.0   ...         0.0      0.0      0.0
4580         0.0      0.0      0.0   ...         0.0      0.0      0.0


        101705.0 101707.0 101708.0 101711.0 101715.0 101717.0 101718.0
user_id
4576         0.0      0.0      0.0      0.0      0.0      0.0      0.0
4576         0.0      0.0      0.0      0.0      0.0      0.0      0.0
4576         0.0      0.0      0.0      0.0      0.0      0.0      0.0
4580         0.0      0.0      0.0      0.0      0.0      0.0      0.0
4580         0.0      0.0      0.0      0.0      0.0      0.0      0.0

[5 rows x 2146 columns]

#### For the VALIDATION SET

In [16]:
# chal_id_in.head()
# lan_in_f, lan_val_f
# chal_in_f, chal_val_f
print lan_val_f.shape
print chal_val_f.shape
df_in_val = {'ABC' : lan_val_f, 'XYZ' : chal_val_f, 'abc' : cat_val_f, 'abc2' : gen_val_f, 'abc3' : aoid_val_f}
df_in_val = pd.concat(df_in_val.values(),axis=1,keys=df_in_val.keys())
print df_in_val.shape
print Chinvalid.shape
df_in_val.head()

(39732, 3)
(39732, 419)
(39732, 2146)
(39732, 1)

             XYZ                                                        \
        0.0      2435.0   2436.0   2439.0   2440.0   2441.0   2442.0
user_id
4577         0.0      0.0      0.0      0.0      0.0      0.0      0.0
4578         0.0      0.0      0.0      0.0      0.0      0.0      0.0
4579         0.0      0.0      0.0      0.0      0.0      0.0      0.0
4583         0.0      0.0      0.0      0.0      0.0      0.0      0.0
4584         0.0      0.0      0.0      0.0      0.0      0.0      0.0

                                     ...        abc3                    \
        2443.0   2444.0   2445.0     ...    101702.0 101703.0 101704.0
user_id                              ...
4577         0.0      0.0      0.0   ...         0.0      0.0      0.0
4578         0.0      0.0      0.0   ...         0.0      0.0      0.0
4579         0.0      0.0      0.0   ...         0.0      0.0      0.0
4583         0.0      0.0      0.0   ...         0.0      0.0      0.0
4584         0.0      0.0      0.0   ...         0.0      0.0      0.0


        101705.0 101707.0 101708.0 101711.0 101715.0 101717.0 101718.0
user_id
4577         0.0      NaN      NaN      NaN      NaN      NaN      NaN
4578         0.0      NaN      NaN      NaN      NaN      NaN      NaN
4579         0.0      NaN      NaN      NaN      NaN      NaN      NaN
4583         0.0      NaN      NaN      NaN      NaN      NaN      NaN
4584         0.0      NaN      NaN      NaN      NaN      NaN      NaN

[5 rows x 2146 columns]

# Fit input and output to a model

### Split to test and train set

#### For TRAINING SET

In [17]:
X = df_in.copy()#np.random.randint(5, size=(6, 100))
# just in case, but should have gotten rid of these values already
X[X.isna()]=0
X = X.astype(int)
X = X.as_matrix(columns=None)
print X.shape

# Binarized output labels (need to take its transpose)
# y = output_lab.T
# print y.shape

# non-binarized output labels
y = output_index
y = y.astype(int)
y = y.as_matrix(columns=None)

(208596, 2146)

#### For VALIDATION SET

In [18]:
Xtest = df_in_val.copy()#np.random.randint(5, size=(6, 100))
# just in case, but should have gotten rid of these values already
Xtest[Xtest.isna()]=0
Xtest = Xtest.astype(int)
Xtest = Xtest.as_matrix(columns=None)
print Xtest.shape

(39732, 2146)

#### actually split the training data

In [19]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [20]:
print X_train.shape
print X_test.shape
print y_train.shape
print y_test.shape

(139759, 2146)
(68837, 2146)
(139759,)
(68837,)

### Multinomial Naive Bayes

#### Trained on part of the training set (cross-validation)

In [62]:
## Multinomial Naive Bayes
from sklearn.naive_bayes import MultinomialNB
clf = MultinomialNB()
clf.fit(X_train, y_train)
%time MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)
print(X_test)
%time clf.predict(X_test)
clf.fit(X_train, y_train)
sparsity = np.mean(clf.coef_ == 0) * 100
score = clf.score(X_test, y_test)
print("Sparsity with L1 penalty: %.2f%%" % sparsity)
print("Test score with L1 penalty: %.4f" % score)

CPU times: user 13 Âµs, sys: 8 Âµs, total: 21 Âµs
Wall time: 19.1 Âµs
[[0 0 0 ..., 0 0 0]
 [0 0 0 ..., 0 0 0]
 [0 0 0 ..., 0 0 0]
 ...,
 [0 0 0 ..., 0 0 0]
 [0 0 0 ..., 0 0 0]
 [0 0 0 ..., 0 0 0]]
CPU times: user 1min 30s, sys: 2.76 s, total: 1min 33s
Wall time: 16.2 s
Sparsity with L1 penalty: 0.00%
Test score with L1 penalty: 0.0443

In [ ]:
from sklearn.neural_network import MLPClassifier
clf_nn = MLPClassifier(solver='lbfgs', alpha=1e-3,hidden_layer_sizes=(10, 10), random_state=1)
clf_nn.fit(X_train, y_train)
%time clf_nn.predict(X_test)
#clf.fit(X_train, y_train)
sparsity = np.mean(clf_nn.coef_ == 0) * 100
score = clf_nn.score(X_test, y_test)
print("Sparsity with L1 penalty: %.2f%%" % sparsity)
print("Test score with L1 penalty: %.4f" % score)

In [ ]:
clf_nn.predict(X_test)

#### Trained on the whole training set, run on the testing set

In [44]:
## Multinomial Naive Bayes
from sklearn.naive_bayes import MultinomialNB
clf_f = MultinomialNB()
clf_f.fit(X, y)
MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)
# print(X_test)
# clf.predict(X_test)
# clf.fit(X_train, y_train)
# sparsity = np.mean(clf.coef_ == 0) * 100
score = clf.score(X, y)
# print("Sparsity with L1 penalty: %.2f%%" % sparsity)
print("Test score with L1 penalty: %.4f" % score)

Test score with L1 penalty: 0.0438

## Logistic Regression

#### Trained on part of the training set (cross-validation)

In [ ]:
# Multinomial Logistic regression
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X = scaler.fit_transform(X)
# X_test = scaler.transform(X_test)

# Turn up tolerance for faster convergence
clf_log = LogisticRegression(C=50. / len(X),
                         multi_class='multinomial',
                         penalty='l1', solver='saga', tol=0.1)
clf_log.fit(X, y)
# sparsity = np.mean(clf.coef_ == 0) * 100
score = clf.score(X, y)
print("Sparsity with L1 penalty: %.2f%%" % sparsity)
print("Test score with L1 penalty: %.4f" % score)

#### Make the prediciton

In [49]:
tmp = clf_f.predict_log_proba(Xtest)
%time tmp = pd.DataFrame(tmp).apply(lambda row: [row.nlargest(3).index.get_values()], axis=1)
a = pd.DataFrame(tmp)
a = a.apply(lambda row: row[0],axis=1)
s = a.apply((lambda x: pd.Series(x[0])),axis=1).stack().reset_index(level=1, drop=True)
s.head()

CPU times: user 22.4 s, sys: 99.6 ms, total: 22.5 s
Wall time: 22.5 s

0    931
0    940
0    953
1    931
1    940
dtype: int64

## Create output file

In [50]:
print s.shape
submiss = samp_sub.copy()
print submiss.head()
print submiss.shape
submiss['challenge'] = chald2['index'].index[s].get_values()
submiss.head()

submiss.to_csv('MultinomialNB_smallest.csv',index=False)

(119196,)
  user_sequence challenge
0       4577_11   CI23648
1       4577_12   CI23648
2       4577_13   CI23648
3       4578_11   CI23648
4       4578_12   CI23648
(119196, 2)

In [575]:
chald2['index'].index[s].get_values().shape

(119199,)

In [576]:
submiss['challenge'].shape

(119196,)

In [340]:
dftest.head(14)

   user_sequence  user_id  challenge_sequence challenge
0         4577_1     4577                   1   CI23855
1         4577_2     4577                   2   CI23933
2         4577_3     4577                   3   CI24917
3         4577_4     4577                   4   CI24915
4         4577_5     4577                   5   CI23714
5         4577_6     4577                   6   CI23663
6         4577_7     4577                   7   CI24958
7         4577_8     4577                   8   CI25135
8         4577_9     4577                   9   CI25727
9        4577_10     4577                  10   CI24530
10        4578_1     4578                   1   CI23663
11        4578_2     4578                   2   CI23855
12        4578_3     4578                   3   CI24917
13        4578_4     4578                   4   CI23933

In [304]:
dfte = pd.DataFrame(dftest.groupby(['user_id'])['challenge'].apply(list))
Chtein = pd.DataFrame(dfte.apply(lambda y: y.iloc[0][0:10],axis=1))

## Nearest 3 challenge for a given vector (Not Used in the end)

In [ ]:
# submiss = samp_sub.copy()
# # submiss = submiss
# # print submiss
# df = np.empty(0)
# for k in range(len(submiss)/3):
#     predic = chald2.iloc[k]
#     predic.total_submissions = 23
# # print (predic.iloc[0] == chald2.iloc[:5]).sum(axis=1).nlargest(3).index.get_values()
# # predic.apply((lambda row: (row == chald2.iloc[:5]).sum(axis=1).nlargest(3).index.get_values()),raw=True)
# # out.head()
#     ID_pred = (chald2 == predic).sum(axis=1).nlargest(3)
#     df = np.append(df, ID_pred.index.get_values())
# print len(submiss)/3
# print k
# print df
# submiss['challenge'] = df
# submiss.head()
# # chald2.iloc[:500] == predic

In [85]:
submiss = samp_sub.copy()
submiss = submiss.iloc[:10]
# print submiss
df = np.empty(0)

predic = chald2.iloc[:5]


# compare the predicted values to the nearest element from all the challenges
out = predic.apply((lambda row: (row == chald2).sum(axis=1).nlargest(3)),axis=1)
out[out.notna()]
cc = out.columns.values

out2 = pd.DataFrame(out.apply((lambda row: [cc[row.notna()]]),axis=1))
out2 = out2.apply((lambda row: row[0]),axis=1)
s = out2.apply(lambda x: pd.Series(x[0]),axis=1).stack().reset_index(level=1, drop=True)
print s.shape
submiss.challenge = s.reset_index()
submiss.head(15)

(15,)

  user_sequence challenge
0       4577_11   CI23478
1       4577_12   CI23478
2       4577_13   CI23478
3       4578_11   CI23479
4       4578_12   CI23479
5       4578_13   CI23479
6       4579_11   CI23480
7       4579_12   CI23480
8       4579_13   CI23480
9       4583_11   CI23481

In [305]:
for k in range(len(Chtein)):
    if chald2.programming_language.loc[Chtein.iloc[k][0]].unique().size != 1:        

        print chald2.programming_language.loc[Chtein.iloc[k][0]].unique()
        #print chald2.programming_language.loc[Chout.iloc[k][0]].unique()
        print k

[2 1]
1711
[1 2]
2240
[1 2]
2406
[2 1]
3029
[2 1]
4212
[2 1]
4215
[2 1]
5553
[2 1]
5728
[1 2]
5931
[3 1]
5986
[3 1]
6140
[2 1]
6215
[2 1]
6240
[2 1]
6251
[1 3]
6337
[1 2]
6401
[3 1]
6517
[1 2]
6747
[1 2]
7410
[2 1]
7857
[1 3]
7878
[1 3]
8067
[2 1]
8284
[3 1]
8305
[3 1]
8372
[1 2]
8384
[1 2]
8505
[1 2]
8602
[2 1]
8604
[3 1]
8611
[3 1]
9171
[2 1]
9188
[2 1]
9230
[2 1]
9277
[3 1]
9411
[2 1]
9598
[1 2]
9770
[1 2]
9771
[1 2]
9822
[1 2]
9986
[1 2]
10027
[1 2]
10060
[2 1]
10594
[1 2]
10721
[1 2]
10835
[3 1]
10843
[2 1]
10925
[2 1]
11015
[3 1]
11276
[3 1]
11347
[1 2]
11527
[2 1]
11627
[1 2]
11758
[3 1]
11827
[1 2]
11910
[3 1]
11984
[2 1]
12182
[3 1]
12355
[3 1]
12379
[1 3]
12423
[1 3]
12482
[2 3 1]
12615
[1 2]
12635
[1 2]
12892
[3 1]
12930
[3 1]
12933
[2 1]
13066
[1 2]
13090
[2 1]
13192
[1 2]
13247
[1 2]
13277
[1 2]
13363
[3 1]
13476
[2 1 3]
13608
[1 2]
13695
[1 2]
13736
[2 1]
13790
[1 2]
13805
[1 2]
14004
[1 2]
14093
[1 2]
14126
[2 1]
14152
[3 1]
14191
[3 1]
14240
[2 1]
14314
[1 2]
14382
[1 2]
14405
[2 1]
14416
[1 3]
14526
[3 1]
14532
[1 3]
14534
[3 1]
14554
[1 2]
14584
[1 2]
14931
[1 2]
15060
[3 1]
15066
[1 2 3]
15187
[1 2]
15193
[1 2]
15219
[1 2]
15230
[1 2]
15383
[3 1]
15456
[1 2]
15460
[1 2]
15571
[2 1]
15631
[3 1]
15655
[2 1]
15682
[1 2]
15852
[1 2]
15907
[2 1]
15926
[1 2]
15932
[1 2]
16007
[3 1]
16025
[1 2]
16051
[1 3]
16067
[1 2]
16110
[1 2]
16505
[3 1]
16732
[3 1]
16734
[3 1]
16751
[3 1]
16752
[3 1]
16753
[2 1]
16825
[3 1]
16846
[2 1]
16951
[1 2]
17310
[2 1 3]
17428
[1 2]
17471
[2 1]
17643
[1 3]
17720
[1 2]
17725
[1 2]
17761
[3 1]
17986
[1 2]
18035
[3 1]
18155
[1 2]
18198
[2 1]
18274
[1 2]
18658
[2 1]
18735
[1 2]
18868
[3 1]
18894
[1 3]
18937
[2 3 1]
18971
[1 2]
19025
[3 1]
19080
[1 2]
19102
[3 1]
19202
[1 2]
19238
[1 2]
19254
[3 1]
19306
[2 1]
19388
[1 2]
19551
[1 2]
19761
[3 1]
19805
[1 2]
20134
[1 2]
20327
[3 1]
20497
[1 3]
20532
[1 2]
20664
[1 3]
20824
[2 1]
20921
[1 2]
20936
[1 2]
21085
[3 1]
21090
[3 1]
21091
[1 2]
21118
[1 2]
21160
[3 1]
21239
[3 1]
21246
[3 1]
21267
[1 2]
21291
[3 1]
21394
[3 1]
21449
[3 1]
21451
[1 2]
21535
[1 2]
21572
[2 1]
21581
[3 1]
21735
[1 2 3]
21760
[1 2]
21799
[1 2]
21927
[1 2]
22017
[1 3]
22106
[2 1]
22224
[3 1]
22289
[1 2]
22297
[1 2]
22336
[1 2]
22453
[1 3]
22464
[1 2]
22489
[1 2]
22632
[3 1]
22732
[1 2]
22736
[1 2]
22834
[1 2]
22996
[1 2]
23060
[1 2]
23061
[1 2]
23140
[1 2]
23175
[3 1]
23223
[1 2]
23428
[3 1]
23487
[3 1]
23488
[1 2]
23528
[1 2]
23685
[1 2]
23845
[1 2]
23892
[3 1]
23903
[1 2]
23951
[1 2]
23978
[1 2]
24179
[3 1]
24185
[1 2]
24219
[2 1]
24263
[1 2]
24269
[1 3]
24325
[1 2]
24334
[3 1]
24431
[1 3]
24455
[2 1]
24649
[1 2]
24720
[2 1]
24822
[3 1]
24833
[1 2]
24852
[1 2]
24903
[1 2]
24946
[1 2]
24965
[1 2]
25047
[2 1]
25184
[1 2]
25188
[1 3]
25224
[1 2]
25243
[1 2]
25252
[1 2]
25275
[1 2]
25337
[3 1]
25346
[1 2]
25542
[1 2]
25615
[1 2]
25659
[3 1]
25902
[1 2]
25929
[2 1]
26184
[1 2]
26261
[3 1]
26337
[1 2]
26367
[1 2]
26420
[1 2]
26422
[2 1]
26604
[2 1]
26707
[3 1]
26817
[3 1]
26819
[3 1]
26832
[1 2]
26836
[1 3]
26870
[1 3]
26877
[1 3]
26881
[1 3]
26882
[2 1]
26895
[1 3]
27032
[2 1]
27214
[2 1]
27333
[1 2]
27355
[1 3]
27476
[2 1]
27489
[1 2]
27581
[1 2]
27616
[3 1]
27636
[1 3]
27694
[3 1]
27695
[1 2]
27808
[1 2]
27828
[1 2]
27934
[1 2]
27991
[3 1]
28015
[1 2]
28028
[1 2]
28145
[1 2]
28157
[1 2]
28247
[2 1]
28287
[1 2]
28484
[1 2]
28509
[3 1]
28564
[3 2 1]
28608
[3 1]
28660
[1 2]
28666
[1 2]
28734
[1 2]
28783
[1 2]
28810
[1 2]
28820
[1 2]
28912
[2 1]
28949
[1 2]
28962
[1 2]
28965
[1 2]
28992
[2 1]
29043
[1 2]
29062
[3 1]
29123
[1 2]
29124
[1 2]
29144
[1 2]
29164
[1 2]
29186
[1 2]
29192
[2 1]
29221
[2 1]
29226
[2 1]
29263
[2 1]
29266
[1 2]
29279
[1 2]
29283
[2 1]
29289
[2 1]
29291
[1 2]
29303
[1 2]
29312
[1 2]
29408
[1 2]
29417
[1 2]
29424
[2 1]
29433
[1 2]
29447
[1 3]
29497
[1 2]
29507
[1 2]
29520
[2 1]
29575
[1 2]
29591
[2 1]
29595
[2 1]
29599
[1 2]
29636
[1 2]
29661
[1 2]
29684
[1 2]
29693
[1 2]
29720
[1 2]
29734
[1 2]
29738
[1 2]
29954
[3 1]
30006
[1 2]
30074
[1 2]
30120
[3 1]
30189
[1 2]
30245
[1 2]
30269
[1 2]
30279
[3 1]
30323
[1 2]
30370
[1 2]
30373
[1 2]
30490
[1 2 3]
30516
[1 2]
30549
[1 2]
30568
[1 3]
30622
[1 2]
30643
[1 2]
30703
[2 1]
30708
[2 1]
30718
[1 2]
30734
[1 2]
30735
[1 2]
30740
[3 1]
30780
[1 2]
30785
[3 1]
30808
[3 1]
30810
[1 2]
30812
[1 2]
30822
[1 2]
30848
[1 2]
30865
[3 1]
30878
[1 2]
30881
[1 3 2]
30897
[1 2]
30925
[3 1]
31001
[3 1]
31006
[3 1]
31008
[1 2]
31017
[1 2]
31034
[1 2]
31063
[1 3]
31074
[1 2]
31102
[1 2]
31118
[2 1]
31125
[1 2]
31131
[1 2]
31132
[1 2]
31135
[1 2]
31151
[1 2]
31406
[1 2]
31422
[1 2]
31436
[1 2]
31452
[1 2]
31465
[3 1]
31472
[1 2]
31506
[1 2]
31536
[1 2]
31545
[1 2]
31560
[3 1]
31586
[2 1]
31650
[1 2]
31665
[1 2]
31666
[1 2]
31679
[1 2]
31739
[1 2]
31784
[1 2 3]
31785
[1 2]
31788
[1 2]
31789
[3 1]
31826
[3 1]
31829
[1 2]
31895
[1 2]
31917
[1 2]
31919
[2 1]
31995
[3 1]
32110
[3 1]
32113
[1 2]
32124
[1 2]
32125
[1 2]
32182
[1 2]
32205
[1 2]
32234
[1 2]
32305
[1 2]
32352
[1 3]
32417
[1 2]
32479
[1 2]
32484
[2 1]
32487
[1 2]
32618
[1 2]
32657
[1 2]
32808
[3 1]
32905
[3 1]
32911
[1 2]
32945
[1 2]
32971
[1 2]
33031
[2 1]
33033
[1 2]
33086
[1 2 3]
33099
[1 2]
33256
[1 3]
33324
[1 3]
33329
[1 2]
33342
[1 2]
33408
[1 2]
33602
[1 3]
33623
[1 2]
33626
[1 2]
33672
[1 3]
33706
[2 1]
33728
[2 1]
33729
[1 2]
33730
[1 2]
33794
[2 1]
33804
[1 2]
33824
[1 3]
33898
[1 3]
33976
[1 2]
34077
[1 3]
34089
[3 1]
34094
[3 1]
34172
[1 2]
34192
[2 1]
34290
[2 1]
34293
[2 1]
34498
[3 1]
34533
[1 2]
34554
[1 2]
34578
[1 3]
34611
[1 3]
34612
[1 3]
34860
[1 3]
34964
[1 3]
34988
[1 2]
35026
[1 2]
35215
[1 3]
35251
[1 3]
35252
[1 2]
35315
[1 2]
35487
[2 1 3]
35550
[1 3]
35581
[2 1]
35590
[1 2]
35594
[1 2]
35662
[1 2]
35665
[1 2]
35728
[1 2]
35840
[1 2]
35857
[1 2]
35862
[1 2]
35867
[3 1]
35877
[1 2]
35879
[3 1]
35909
[1 2]
35955
[1 3]
36013
[1 3]
36031
[1 2]
36052
[1 3]
36121
[1 2]
36134
[1 2]
36216
[1 2]
36237
[1 2]
36274
[3 1]
36335
[2 1 3]
36787
[1 2]
36796
[3 1 2]
36913
[1 3]
36961
[1 2]
37024
[1 2]
37066
[1 3]
37080
[1 2]
37083
[3 1]
37118
[1 2]
37131
[2 1]
37143
[1 2]
37147
[1 2]
37154
[1 2]
37195
[1 2]
37239
[2 1]
37330
[2 1]
37331
[3 1]
37401
[3 1]
37402
[1 3]
37480
[1 2]
37486
[1 2]
37502
[1 2]
37588
[1 2]
37716
[1 2]
37755
[1 2]
37790
[1 2]
38063
[3 1]
38262
[1 2]
38440
[1 2]
38442
[2 3 1]
38448
[1 2]
38698
[1 2]
39071
[1 2]
39289
[2 1]
39318
[1 2]
39329
[1 3]
39340
[1 3]
39341
[1 3]
39342
[1 2]
39436
[2 1]
39496
[3 1]
39511
[1 3]
39526
[1 2]
39597
[2 1]
39708
[2 1]
39716

In [97]:
samp_sub.head()

  user_sequence challenge
0       4577_11   CI23648
1       4577_12   CI23648
2       4577_13   CI23648
3       4578_11   CI23648
4       4578_12   CI23648

In [122]:
#dftest.user_id.unique()
from random import randint
submiss = samp_sub.copy()
for i in range(5):#len(submiss.challenge)):
     print chald.challenge_ID[randint(0,5606)]
     submiss.challenge[i] = chald.challenge_ID[randint(0,5605)]
submiss.head()

CI23582
CI24086
CI27886
CI23920
CI26835

In [108]:
## print the predicted challenges to a dataset
submiss.to_csv('submission.csv',index=False)

238392

In [109]:
samp_sub.size

238392

69532